[submodule "hugo/themes/tale"]
	path = hugo/themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "shashank/themes/mini"]
	path = shashank/themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
